.rubik-wet-paint-regular {
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
  }

body {
    /* Pelin keskitys näytön keskelle */
    display: flex;       
    align-items: center;
    justify-content: center;
    /* Taustavärin muutos koko body elementtiin */
    background-color: #283618;
}

main {
    /* Pelin irroitus ylä ja alareunasta */
    padding: 0 20px 0 20px; 
    /* Reunus ja reunuksen kulmien pyöristys */
    border-radius: 6px; 
    /* Taustavärin vaihto */
    background-color: #fffef9;
}

h1{
    font-family: "Rubik Wet Paint", system-ui;
    color: #000;
    text-shadow: 2px 2px #BC6C25;
}

button {
    background-color: #000;
    color: #BC6C25;
}

#score {
    text-shadow: 0.5px 0.5px #BC6C25;
}

.peli {
    display: inline-block;
    cursor: pointer;

    background-image: linear-gradient(#BC6C25, #BC6C25);
    background-repeat: no-repeat;

    background-size: 1px 100%;
    background-position: 0 0;
    transition: background-size 0.3s, backgound-position 0.1s 0.3s;
}

.peli:hover {
    background-size: 100% 100%;
    background-position: 100% 0;
    transition: background-position 0.1s, background-size 0.3s 0.1s;
    color: #000;
}

.numerot:hover>:not(:hover) {
    opacity: 0.2;
    }

.peli:disabled,
.peli.disabled{
    color: #a00;
    border-color: #a0a0a0;
    background-color: #a0a0a0;
}

.peli:disabled:hover,
.peli:disabled:focus,
.peli.disabled:hover,
.peli.disabled:focus {
  color:#a00;
  border-color: #a0a0a0;
  background-color: #a0a0a0;
}

.peli.oikein{
    color: #000;
    border-color: aqua;
    background-color: #0af;
}

.peli.oikein:disabled:hover,
.peli.oikein:disabled:focus {
    color: #000;
    border-color: aqua;
    background-color: #0af;
}

.peli:active:disabled {
}

/* .highlight {
    background: linear-gradient(45deg, #00fffc, #ffffff);
    border-radius: 10px;
    transition: opacity 0.7s ease;
    cursor: pointer;
} */

/* .main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 30px;
} */
