
/* Määritetään taustan väri ja keskitetään se */
body {
    max-width: 50%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: aqua;
    text-shadow: 0 0 20px rgba(0,0,0,0.4);;
}
/* Määritetään lomaketta */
form {
    background-color:sandybrown;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
/* H1 ja p tekstin keskitys */
h1, p {
    text-align: center;
}
/* H3 otsikkoa hieman keskemmälle lomakkeessa */
h3 {
    margin-left: 50px;
}
/* Radio painikkeen muotoilua */
input[type=radio] {
    margin-left: 25px;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(0deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%),
                      -webkit-linear-gradient(90deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%);
    border-radius: 10px;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8),
                0 0 0 1px hsla(0,0%,0%,.6),
                0 2px 3px hsla(0,0%,0%,.6),
                0 4px 3px hsla(0,0%,0%,.4),
                0 6px 6px hsla(0,0%,0%,.2),
                0 10px 6px hsla(0,0%,0%,.2);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-right: 15px;
    position: relative;
    width: 15px;
}
/* Radio painikkeen muotoilua kun on valittuna */
input[type="radio"]:checked:after {
    background-color: #f66;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                inset 0 2px 2px hsla(0,0%,100%,.4),
                0 1px 1px hsla(0,0%,100%,.8),
                0 0 2px 2px hsla(0,70%,70%,.4);
}
/* Lähetä painikkeen muotoilua */
input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: 225px;
    margin-bottom: 15px; 
}
