body {
    max-width: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: black;
}

table {
    width: 100%;
}

.otsikko {
    width: 50%;
}

#kyselylomake {
    background-color:khaki;
    border-radius: 5px;
}

.vastaukset {
    width: 55%;
    text-align: left;
    float: right;
}

.teksti{
    width: 265px;
}

button{
    width: 100%;
}