/* Yleiset tyylit */
body {

  background-color: #2d3748;
  color: white;
  font-family: Arial, sans-serif;
}

/* Pelin pääsäiliön tyylitys */
.container {
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px;
  max-width: 100%;
  transition: transform 0.3s ease;
}

/* Pelilauta */
#game-board {
  display: grid;
  gap: 10px;
  justify-content: center;
  margin: 20px auto;
}

/* Kortin ulkoasu */
.card {
  width: 90px; /* Määritä kortin leveys */
  height: 90px; /* Määritä kortin korkeus */
  background-image: url(images/card.jpeg);
  background-size: cover;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em; /* Suuri fonttikoko tekstille */
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Käännetyt kortit */
.card.flipped {
  background-color: #fff;
  color: #007bff;
  cursor: default;
}

/* Hover-efekti */
.card:hover {
  transform: translateY(-5px);
}

/* Kuva kortissa */
.card img {
  width: 80%; /* Skaalaa kuva kortin sisään */
  height: 80%; /* Skaalaa kuva kortin sisään */
  object-fit: cover; /* Kuvan peittävyys säilyy */
  display: none; /* Piilota kuva, kun kortti ei ole käännetty */
  background-color: white;
}

/* Pelin valikkonäkymä */
button {
  background-color: lightblue;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  margin-top: 20px;
}

select {
  background-color: lightblue;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

#h1black {
  color: black;
}

/* Pelin vaikeusasteen valikko */
select {
  width: 150px;
  margin-top: 20px;
}

/* Pelilauta ja korttien määrä - muutokset vaikeustasojen mukaan */
#game-board.easy {
  grid-template-columns: repeat(4, 1fr); /* 4 saraketta */
  width: 400px;
}

#game-board.medium {
  grid-template-columns: repeat(6, 1fr); /* 6 saraketta */
  width: 500px;
}

#game-board.hard {
  grid-template-columns: repeat(6, 1fr); /* 6 saraketta */
  width: 600px;
}

/* Kortit, jotka ovat löydettyjä */
.card.matched {
  background-color: #28a745 !important; 
  cursor: default;
}


