/* Yleiset tyylit */
body {

  background-color: #2d3748;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
}

header {
  width: 500px;
}

main {
  width: 600px;
  margin: auto;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

/* Pelin pääsäiliön tyylitys */
.container {
  margin: auto;
  text-align: center;
  width: 400px;
  max-width: 100%;
  transition: transform 0.3s ease;
}

.container.nav {
  line-break: auto;
}

/* Pelilauta */
#game-board {
  display: grid;
  gap: 10px;
  justify-content: center;
  margin: 20px auto;
}

/* Kortin ulkoasu */
.card {
  width: 90px; /* Määritä kortin leveys */
  height: 90px; /* Määritä kortin korkeus */
  background-image: url(images/card.jpeg);
  background-size: cover;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em; /* Suuri fonttikoko tekstille */
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Käännetyt kortit */
.card.flipped {
  cursor: default;
}

/* Hover-efekti */
.card:hover {
  transform: translateY(-5px);
}

/* Kuva kortissa */
.card img {
  width: 80%; /* Skaalaa kuva kortin sisään */
  height: 80%; /* Skaalaa kuva kortin sisään */
  object-fit: cover; /* Kuvan peittävyys säilyy */
  display: none; /* Piilota kuva, kun kortti ei ole käännetty */
  background-color: white;
}

/* Pelin valikkonäkymä */
button {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  background-color: cornflowerblue;
}

#homeButton {
  margin: -20px 0 0 0;
}

#h1black {
  margin: -37px 0 0 0;
  color: black;
}

/* Pelin vaikeusasteen valikko */
/* #taso option {
  width: 150px;
  margin-top: 20px;
}

#taso option [value="easy"] {
background: green;
}

#taso option[value="medium"] {
background: yellow;
}

#taso option[value="hard"] {
  background: red;
} */

/* Mukautettu select, jotta voidaan tyylitellä se vapaasti */
.custom-select {
  position: relative;
  width: 200px;
  font-size: 16px;
}

#taso {
  appearance: none; /* Poistaa selaimen oletusulkoasun */
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 150px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white; /* Taustaväri, joka on yleinen kaikille */
  cursor: pointer;
}

/* Tämän avulla muokataan, mikäli valittu vaihtoehto on helppo, keskitaso tai vaikea */
.easy {
  background-color: lightgreen;
}

.medium {
  background-color: lightyellow;
}

.hard {
  background-color: lightcoral;
}

/* Näyttää värit valitussa vaihtoehdossa */
#taso option[value="easy"] {
  background-color: lightgreen;
}

#taso option[value="medium"] {
  background-color: lightyellow;
}

#taso option[value="hard"] {
  background-color: lightcoral;
}
